.contact {
  &-container {
    margin-top: var(--padding-container);

    h1 {
      text-align: center;
    }

    p {
      font-size: 20px;

      &:nth-last-child(1) {
        margin-top: 28px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  .contact {
    &-container {
      margin: 70px 0 0;
      p {
        font-size: 14px;
      }
    }
  }
}
