.services-box {
  margin: 200px 0;
  &-item {
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 4px 2px 18px 8px rgba(0, 0, 0, 0.1);
    &__descr {
    }
    &__img {
      margin-left: 20px;
      max-width: 350px;
      width: 100%;
      border-radius: 8px;
    }
  }
  &-table {
    td {
      border: 1px solid #000;
    }
  }
}
