<div class="about-page">
  <div class="break-line"></div>
  <div class="about-page-container container">
    <article>
      <h1 class="about-page-title title">
        Ми найкращий сервісний центр з ремонту комп'ютерної техніки в Києві.
      </h1>
      <div class="about-page-wrapper flex">
        <div class="about-page-descr flex">
          <p>
            "CitiCom це сервісний центр з ремонту комп'ютерної техніки в Києві"
            - ваш надійний партнер у забезпеченні безперебійної роботи ваших
            пристроїв. Наш сервісний центр відрізняється високим рівнем
            професіоналізму, індивідуальним підходом до кожного клієнта та
            широким спектром послуг.

            <br />

            У нашому центрі працюють досвідчені та кваліфіковані фахівці, які
            володіють глибокими знаннями у сфері ремонту комп'ютерної техніки.
            Ми постійно вдосконалюємо свої навички, слідкуємо за останніми
            технологічними тенденціями та використовуємо тільки високоякісні
            комплектуючі.
          </p>

          <picture class="about-page__img">
            <source
              type="image/webp"
              srcset="
                img/about-page/about-page-1-w480.webp    1x,
                img/about-page/about-page-1-w480@2x.webp 2x
              "
            />
            <img
              width="480"
              srcset="img/about-page/about-page-1-w480@2x.jpeg 2x"
              src="img/about-page/about-page-1-w480.jpeg"
              alt=""
            />
          </picture>
        </div>

        <div class="about-page-descr flex">
          <p>
            Наш сервіс надає повний спектр послуг, включаючи діагностику та
            ремонт ноутбуків, комп'ютерів, планшетів, моніторів, принтерів та
            інших пристроїв. Ми гарантуємо оперативність та якість виконаних
            робіт, а також надаємо гнучку систему цін, враховуючи потреби
            кожного клієнта. <br />Однією з наших переваг є швидкість
            обслуговування. Ми розуміємо, що ваш час цінний, тому прагнемо
            максимально скоротити терміни ремонту, не ушкоджуючи при цьому
            якість виконаних робіт.
          </p>

          <picture class="about-page__img">
            <source
              type="image/webp"
              srcset="
                img/about-page/about-page-2-w480.webp    1x,
                img/about-page/about-page-2-w480@2x.webp 2x
              "
            />
            <img
              width="480"
              srcset="img/about-page/about-page-2-w480@2x.jpeg 2x"
              src="img/about-page/about-page-2-w480.jpeg"
              alt=""
            />
          </picture>
        </div>

        <div class="about-page-descr flex">
          <p>
            Наш сервісний центр створений з урахуванням комфорту клієнта.
            Дружелюбний персонал готовий відповісти на всі ваші питання, надати
            детальну інформацію про хід ремонту та надати рекомендації з
            подальшого обслуговування техніки.
            <br />
            Обравши наш сервісний центр з ремонту комп'ютерної техніки в Києві,
            ви можете бути впевнені в надійності та професіоналізмі. Ми робимо
            все можливе, щоб ваші пристрої знову стали надійними помічниками у
            повсякденному житті.
          </p>
          <picture class="about-page__img">
            <source
              type="image/webp"
              srcset="
                img/about-page/about-page-3-w480.webp    1x,
                img/about-page/about-page-3-w480@2x.webp 2x
              "
            />
            <img
              width="480"
              srcset="img/about-page/about-page-3-w480@2x.jpeg 2x"
              src="img/about-page/about-page-3-w480.jpeg"
              alt=""
            />
          </picture>
        </div>
      </div>
    </article>
  </div>
</div>
