<div class="about">
  <div class="about-container flex">
    <div class="about-wrapper">
      <h2 class="about-title title">Про нас</h2>
      <p class="about-descr text">
        CitiCom займається ремонтом комп'ютерної та цифрової техніки вже понад
        п'ять років. Ми працюємо із пристроями різних брендів. Ремонт
        проводиться якісно та в найкоротші терміни завдяки досвідченим
        професіоналам та сучасному ремонтному обладнанню. Оригінальні деталі нам
        постачають виробники.
      </p>
      <p class="about-descr text">
        Інженери майстерні беруться за поломки будь-якого характеру та
        складності. Фахівці постійно вдосконалюються, проходять різні курси та
        завжди стежать за виходом новинок, щоб у майбутньому не виникло проблем
        із ремонтом пристроїв.
      </p>
      <p class="about-descr text">
        Ми продовжуємо розширюватись та відкриваємо майстерні по всій області.
        Зараз у нас оптимізована робота, налагоджено закупівлі комплектуючих та
        обладнання. Наш сервісний центр співпрацює лише з перевіреними та
        надійними виробниками.
      </p>
      <p class="about-descr text">
        Ми пропонуємо висококласне обслуговування, професійний ремонт та помірні
        ціни на послуги.
      </p>
    </div>
  </div>
  <div class="about-bg">
    <picture>
      <source
        type="image/webp"
        srcset="img/about/about-w960.webp 1x, img/about/about-w960@2x.webp 2x"
      />

      <img
        width="960"
        height="492"
        srcset="img/about/about-w480@2x.jpeg 2x"
        src="img/about/about-w960.jpeg"
        alt="фото сервісного цетру Citicom, на якому можно побачити робочі місця з сучасним обладнанням та майстра за працею"
      />
    </picture>
  </div>
</div>
