<div id="clients" class="clients">
  <div class="clients-container container">
    <h2 class="clients-title title">Що кажуть наші кліенти?</h2>
    <div class="clients-box">
      <div class="clients-slider swiper">
        <div class="clients-wrapper swiper-wrapper">
          <div class="clients-slide swiper-slide">
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/unnamed.webp"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Ольга Светова</span>
                <span class="clients-item__problem text">
                  Діагностика, встановлення антивірусу</span
                >
              </div>
              <p class="clients-item__descr text">
                Почну з початку: комп'ютер став виснути, програми довго не
                вмикалися, а часом і завантажити щось легке (папку, текстовий
                документ) було складно. Викликала спеціаліста на дом, щоб це
                виправити. Майстер приїхав у призначений час, перевірив роботу
                комп'ютера та усунув усі несправності. Обійшлося це мені не
                дорого, що так само стало приємним сюрпризом.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/sergey.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Сергій</span>
                <span class="clients-item__problem text">
                  Діагностика, чистка</span
                >
              </div>
              <p class="clients-item__descr text">
                Звернувся до сервісного центру з привіду термінової діагностики
                настольного ПК. Я привіз системний блок і після півгодини забрав
                його. Були замінени батарейка та термопаста на процессорі,
                виявились неробочі планки пам"яті. Дуже вдячний за термінову
                допомогу.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/alexandra.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Александра</span>
                <span class="clients-item__problem text"> Встановлення ПЗ</span>
              </div>
              <p class="clients-item__descr text">
                Купила новий ноутбук і звернулася до сервісу для встановлення
                ПЗ. Запропонували встановити ліцензійне програмне забезпечення
                за прийнятною ціною. Майстер приїхав під час, установив
                проконсультував із усіх питань. Сервісом задоволена. Рекомендую.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/toma.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Тома</span>
                <span class="clients-item__problem text"
                  >діагностика, ремонт, чистка</span
                >
              </div>
              <p class="clients-item__descr text">
                Звернулась із проблемою – комп'ютер зависав, з'являвся синій
                екран. Зробили ремонт материнської плати та чищення від пилу.
                Залишилась задоволена.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/valentina.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Valentina</span>
                <span class="clients-item__problem text">
                  Діагностика, встановлення антивірусу</span
                >
              </div>
              <p class="clients-item__descr text">
                Найадекватніша за ціною та якістю комп'ютерна допомога у Києві!
                Оформила виїзд комп'ютерного майстра додому, приїхав за годину.
                Полагодив комп'ютер, встановив потрібний софт, зробив знижку.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/nina.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Nina Vardanyan</span>
                <span class="clients-item__problem text">
                  Діагностика, встановлення антивірусу</span
                >
              </div>
              <p class="clients-item__descr text">
                Терміново потрібно було викликати комп'ютерника на будинок і
                через інтернет знайшла Ваш офіс, Фахівець приїхав дуже швидко і
                за годину мій ноутбук був як новенький. Дякую за професіоналізм!
              </p>
            </div>
          </div>
          <div class="clients-slide swiper-slide">
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/nikita.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Никита Занин</span>
                <span class="clients-item__problem text">
                  Діагностика, встановлення антивірусу</span
                >
              </div>
              <p class="clients-item__descr text">
                Класний сервіс, рекомендую👍🏻 хлопці молодці, вирішують питання
                оперативно та якісно. Сервіс-орієнтовані, ставлення до клієнтів
                дуже ввічливе, уважно все слухають в надають грамотні
                рекомендації👌
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/dariya.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Дарʼя Ямчук</span>
                <span class="clients-item__problem text">
                  Діагностика, чистка</span
                >
              </div>
              <p class="clients-item__descr text">
                За пару годин ідеально почистили мій ігровий ноут, який вже ледь
                дихав. Співробітники компанії надзвичайно привітні, дадуть
                відповідь на всі запитання. Хороший ремонт в Києві складно
                знайти, однозначно рекомендую. Настрій після візиту тільки
                покращився)
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/diana.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Диана Кайдык</span>
                <span class="clients-item__problem text">
                  Чистка ПК від пилувшф</span
                >
              </div>
              <p class="clients-item__descr text">
                Дякую, що врятували життя нашому «динозаврику» Ви справжні
                чарівники) Після чистки системний блок працює тихо, як
                новенький. Чудовий сервіс, всім рекомендую!)
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/irina.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Ирина Чепижная</span>
                <span class="clients-item__problem text"
                  >діагностика, додання RAM
                </span>
              </div>
              <p class="clients-item__descr text">
                Швидка та якісна робота. Дякуємо Павлові за оперативність, ноут
                тепер оновлений, з новою клавою, більше пам'яті та працює
                набагато швидше. Під час ремонту все доступно пояснює, в чому
                причина поломки і що можна вдосконалити. Тож сервісом
                задоволені. 👍🏻
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/nazar.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Назарий Заика</span>
                <span class="clients-item__problem text">
                  Діагностика, ремонт</span
                >
              </div>
              <p class="clients-item__descr text">
                Звертаємось до хлопців уже вдруге. Вперше комп ремонтували,
                вдруге кришку(петлі) ноутбука. Обидва рази все зробили дуже
                швидко (без черги, протягом дня) та якісно. Увійшли до
                становища, запропонували оптимально вигідні та зручні варіанти
                ремонту. Акуратні та відповідальні майстри.
              </p>
            </div>
            <div class="clients-item">
              <div class="clients-item__author grid">
                <img
                  src="img/clients/sergeysh.png"
                  alt="avatar"
                  width="50"
                  height="50"
                />

                <span class="clients-item__name text">Сергей Щербанюк</span>
                <span class="clients-item__problem text">
                  Діагностика, ремонт, чистка</span
                >
              </div>
              <p class="clients-item__descr text">
                Ремонтував ноутбук. Мене зустрів молодий, але грамотний
                спеціаліст, який вичерпно проконсультував про варіанти ремонту
                та загалом про підбір комп'ютерної техніки. Весь ремонт зайняв 2
                дні. Вдячний сервісу за оперативність та професіоналізм.
                Рекомендую.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clients-nav flex">
      <button class="btn-reset clients-btn clients-btn--prev flex">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-prev"></use>
        </svg>
      </button>
      <div class="swiper-pagination flex"></div>
      <button class="btn-reset clients-btn clients-btn--next flex">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
