<div class="contact">
  <div class="break-line"></div>
  <div class="contact-container container">
    <h1>Ласкаво просимо до нашого сервісу!</h1>
    <p class="text">
      Ми вітаємо вас на сторінці контактів сервісного центру CitiCom. Наша
      команда професіоналів готова допомогти вам з будь-якими питаннями,
      пов'язаними із обслуговуванням та відновленням вашого комп'ютера. Не
      соромтеся звертатися до нас для консультацій, уточнення інформації чи
      планування візиту. Ми прагнемо надавати високоякісні послуги, щоб ваш
      досвід роботи з комп'ютером був максимально ефективним та безтурботним.
    </p>
    <p class="text">
      <b
        >Звертайтеся до нас, і ми з радістю допоможемо вам повернути вашу
        техніку до повноцінної роботи!</b
      >
    </p>
  </div>
</div>
