<div class="discount flex">
  <div class="discount-form flex">
    <form class="discount-form__wrapper flex">
      <h3 class="discount-form__title title">
        Заповніть форму та отримайте знижку
      </h3>

      <div class="discount-form__item">
        Введіть Ваше імʼя
        <div class="discount-form__input form-input flex">
          <svg>
            <use xlink:href="img/sprite.svg#man"></use>
          </svg>
          <input type="text" name="name" class="input-name" />
        </div>
      </div>

      <div class="discount-form__item">
        Вкажіть Ваш номер телефону
        <div class="discount-form__input form-input flex">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <input type="tel" name="tel" class="input-phone" />
        </div>
      </div>

      <button class="discount-form__btn btn btn-reset">Отримати знижку</button>
      <div class="success">форма відправлена</div>
    </form>
  </div>

  <div class="discount-info flex">
    <p class="discount-info__descr text">
      <strong>Термінова комп'ютерна допомога</strong> - цей запис повинен бути
      присутнім у телефонній книзі будь-якого користувача, тому що практично
      кожен сучасний житель має персональний комп'ютерний пристрій, чи то
      стаціонарний комп'ютер. планшетного ПК або ноутбук.
    </p>
    <p class="discount-info__descr text">
      Але згодом навіть найпрогресивніший і найнадійніший ПК виходить з ладу,
      зазнає механічних пошкоджень або потребує переустановки або додаткової
      установки оновленого програмного забезпечення.
    </p>
    <div class="discount-info__wrapper flex">
      <p class="discount-info__title title">при виклику майстра онлайн</p>
      <p class="discount-info__value text color-text">
        знижка 10% <br />на будь-який ремонт!
      </p>
    </div>
  </div>
</div>
