<div class="examples">
  <div class="examples-container container">
    <h2 class="examples-title title">Приклади наших робот</h2>
    <div class="examples-wrapper">
      <button class="btn-reset examples-btn examples-btn--prev flex">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-prev"></use>
        </svg>
      </button>
      <div class="examples-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="examples-slide">
              <div class="examples-item">
                <h3 class="examples-item__title title">
                  Заміна матриці екрану ноутбука
                </h3>
                <div class="examples-item__wrapper grid">
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/screen1-w535.webp    1x,
                        img/examples/screen1-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/screen1-w535@2x.jpeg 2x"
                      src="img/examples/screen1-w535.jpeg"
                      alt="Розбита матрица на ноутбуці Lenovo"
                    />
                  </picture>
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/screen2-w535.webp    1x,
                        img/examples/screen2-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/screen2-w535@2x.jpeg 2x"
                      src="img/examples/screen2-w535.jpeg"
                      alt="Замінили на нову оригінальну матрицю на ноутбуці Lenovo"
                    />
                  </picture>
                  <p class="examples-item__text text">
                    <span class="color-text">Проблема:</span> відсутність
                    зображення на ноутбуці, після падіння.
                  </p>
                  <p class="examples-item__text text">
                    <span class="color-text">Вирішення:</span> заміна матриці на
                    аналогічну оригінальну
                  </p>
                </div>
                <div class="examples-descr flex">
                  <span class="examples-descr__value">
                    <span class="color-text"><b>Вартість:</b></span>
                    2500 грн</span
                  >
                  <span class="examples-descr__time">
                    <span class="color-text"><b>Термін:</b></span>
                    2дні</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="examples-slide">
              <div class="examples-item">
                <h3 class="examples-item__title title">
                  Чистка ноутбука після залиття
                </h3>
                <div class="examples-item__wrapper grid">
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/water1-w535.webp    1x,
                        img/examples/water1-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/water1-w535@2x.jpeg 2x"
                      src="img/examples/water1-w535.jpeg"
                      alt="на фото материнська плата ноутбука Asus, на якій можно побачити следи залитяя ріденою"
                    />
                  </picture>
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/water2-w535.webp    1x,
                        img/examples/water2-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/water2-w535@2x.jpeg 2x"
                      src="img/examples/water2-w535.jpeg"
                      alt="на фото очищена ультрозвуком материнська плата Asus"
                    />
                  </picture>
                  <p class="examples-item__text text">
                    <span class="color-text">Проблема:</span> Залили кавою,
                    перестав робити
                  </p>
                  <p class="examples-item__text text">
                    <span class="color-text">Вирішення:</span> чистка від
                    залиття
                  </p>
                </div>
                <div class="examples-descr flex">
                  <span class="examples-descr__value">
                    <span class="color-text"><b>Вартість:</b></span>
                    від 1250 грн</span
                  >
                  <span class="examples-descr__time">
                    <span class="color-text"><b>Термін:</b></span>
                    1 день</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="examples-slide">
              <div class="examples-item">
                <h3 class="examples-item__title title">Чистка ПК від пилу</h3>
                <div class="examples-item__wrapper grid">
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/dust1-w535.webp    1x,
                        img/examples/dust1-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/dust1-w535@2x.jpeg 2x"
                      src="img/examples/dust1-w535.jpeg"
                      alt="дуже брудний та пильний системний блок компʼютера"
                    />
                  </picture>
                  <picture class="examples-item__img">
                    <source
                      type="image/webp"
                      srcset="
                        img/examples/dust2-w535.webp    1x,
                        img/examples/dust2-w535@2x.webp 2x
                      "
                    />
                    <img
                      width="535"
                      height="348"
                      srcset="img/examples/dust2-w535@2x.jpeg 2x"
                      src="img/examples/dust2-w535.jpeg"
                      alt="очищенний від пилу системний блок компʼютера"
                    />
                  </picture>
                  <p class="examples-item__text text">
                    <span class="color-text">Проблема:</span> Гріеться та сильно
                    шумить при роботі.
                  </p>
                  <p class="examples-item__text text">
                    <span class="color-text">Вирішення:</span> заміна
                    термо-інтерфейсів та чистка від пилу.
                  </p>
                </div>
                <div class="examples-descr flex">
                  <span class="examples-descr__value">
                    <span class="color-text"><b>Вартість:</b></span>
                    850 грн</span
                  >
                  <span class="examples-descr__time">
                    <span class="color-text"><b>Термін:</b></span>
                    2 години</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn-reset examples-btn examples-btn--next flex">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
