<div class="facts flex">
  <div class="facts-left flex">
    <ul class="facts-list list-reset flex">
      <p class="facts-list__title title">Ви знали, що...</p>
      <li class="facts-list__descr">
        1. Запилення ПК чи ноутбука різко піднімає температуру всіх деталей
      </li>
      <li class="facts-list__descr">
        2. Механічний пил дуже небезпечний для людського організму, особливо для
        дитячого
      </li>
      <li class="facts-list__descr">
        3. Очищений комп'ютер у 95% випадків видає набагато менше шуму, ніж
        запиляний
      </li>
    </ul>
  </div>

  <form class="facts-form flex">
    <p class="facts-form__title title">
      Залишіть нам заявку зараз <br />
      <span class="color-text text">і отримайте знижку на роботу майстра</span>
    </p>
    <div class="facts-form__input flex">
      <div class="form-input flex">
        <svg>
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        <input
          type="tel"
          name="tel"
          placeholder="вкажіть Ваш номер"
          class="facts-input-phone"
        />
      </div>
      <div class="form-input flex">
        <svg>
          <use xlink:href="img/sprite.svg#man"></use>
        </svg>
        <input
          type="text"
          name="name"
          placeholder="Вкажіть своє ім'я"
          class="facts-input-name"
        />
      </div>
    </div>
    <div class="success">форма відправлена</div>
    <button type="submit" class="facts-form__btn btn btn-reset">
      Отримати знижку
    </button>
  </form>
</div>
