<header class="header">
  <div class="container header-container flex">
    <a href="index.html" class="logo header-logo flex">
      <p class="header-logo__title text">CitiCom</p>
      <p class="header-logo__descr text">Ремонт комп'ютерної техніки</p>
    </a>
    <nav class="header-nav flex" data-menu>
      <ul class="header-nav__list flex list-reset">
        <li class="header__nav-item">
          <a class="header-nav__link" href="about-page.html">Про нас</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="services-page.html">Послуги</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="index.html#clients">Відгуки</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="contact-page.html">Контакти</a>
        </li>
      </ul>
    </nav>

    <a class="header-contact flex" href="tel:+380937339838">
      <svg>
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      +380-93-733-98-38
    </a>

    <button
      class="burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
