<div id="hero" class="hero">
  <div class="container hero-container flex">
    <div class="hero-content">
      <h1 class="hero-title title">
        Ремонт комп'ютерної техніки у Києві та області
      </h1>
      <p class="hero-descr text">
        Миттєвий виїзд майстра до будь-якої точки міста та
        <span class="color-text">безкоштовна діагностика</span>
        проблем, що виникли
      </p>
      <!-- <form class="hero-form flex"> -->
      <form class="hero-form flex">
        <div class="hero-form__wrapper flex">
          <p class="hero-form__text text">Передзвонимо вже за 1 хвилину</p>
          <div class="hero-form__input flex">
            <div class="hero-form__container form-input flex">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>

              <input type="tel" name="tel" class="input-reset input-tel" />
            </div>
            <button type="submit" class="hero-form__btn btn btn-reset">
              передзвоніть мені
            </button>
          </div>
          <div class="success">форма відправлена</div>
        </div>
      </form>
    </div>
    <ul class="hero-list list-reset flex">
      <li class="hero-list__item flex hero-list__guarantee">
        Гарантія 3 місяці на всі роботи
      </li>
      <li class="hero-list__item flex hero-list__parts">
        Використання тільки оригінальних запчастин
      </li>
      <li class="hero-list__item flex hero-list__price">
        Демократичні ціни на роботу
      </li>
    </ul>
  </div>
</div>
