<div class="services-page">
  <div class="services-page-bg"></div>
  <div class="services-page-container container">
    <h1>Сервіс CitiCom пропонує</h1>
    <ul class="services-page-list list-reset grid">
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#instal"></use>
        </svg>
        <h2 class="services-page-item__title title">Widows, Linux, Mac OS</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Встановлення</li>
          <li class="services-page-item__descr">Перевстановлення</li>
          <li class="services-page-item__descr">Відновленя роботи</li>
          <li class="services-page-item__descr">Налаштування роботи</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
        <h2 class="services-page-item__title title">Комп’ютери</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Збірка компʼютерів</li>
          <li class="services-page-item__descr">Модернізація компʼютерів</li>
          <li class="services-page-item__descr">Діагностика компʼютерів</li>
          <li class="services-page-item__descr">Відновлення данних</li>
          <li class="services-page-item__descr">Встановлення програм</li>
          <li class="services-page-item__descr">Чистка від пилу</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#setup"></use>
        </svg>
        <h2 class="services-page-item__title title">Ноутбуки</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Чистка ноутбуків</li>
          <li class="services-page-item__descr">Ремонт після залиття</li>
          <li class="services-page-item__descr">Заміна матриці ноутбука</li>
          <li class="services-page-item__descr">Диагностика ноутбука</li>
          <li class="services-page-item__descr">Заміна розʼємів ноутбука</li>
          <li class="services-page-item__descr">Заміна відіочипу чи моста</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#network"></use>
        </svg>
        <h2 class="services-page-item__title title">Інтернет</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Налаштування роутера</li>
          <li class="services-page-item__descr">Налаштування Wi-Fi</li>
          <li class="services-page-item__descr">Точка Wi-Fi "під ключ"</li>
          <li class="services-page-item__descr">
            Монтаж і наалаштівання мережі
          </li>
          <li class="services-page-item__descr">
            Налаштування поштових програм
          </li>
          <li class="services-page-item__descr">Підключення до інтернету</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#virus"></use>
        </svg>
        <h2 class="services-page-item__title title">Віруси</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Видалення вірусів</li>
          <li class="services-page-item__descr">Видалення банерів</li>
          <li class="services-page-item__descr">Видалення блокувальників</li>
          <li class="services-page-item__descr">
            Встановлення будь якого антивірусу
          </li>
          <li class="services-page-item__descr">Налаштування FireWall</li>
          <li class="services-page-item__descr">Безпечний доступ в Інтернет</li>
          <li class="services-page-item__descr">Батьківський контроль</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#cloud"></use>
        </svg>
        <h2 class="services-page-item__title title">Аутсорсинг</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">
            Абонентське обслуговування компаній
          </li>
          <li class="services-page-item__descr">
            Встановлення ПЗ відповідно до вимог компанії
          </li>
          <li class="services-page-item__descr">Консультація користувачів</li>
          <li class="services-page-item__descr">
            Налаштування хмари, архивайія
          </li>
          <li class="services-page-item__descr">Монтаж систем відеонагляду</li>
          <li class="services-page-item__descr">Контроль працівників</li>
          <li class="services-page-item__descr">Дистанційна підтримка</li>
          <li class="services-page-item__descr">Налаштування IP телефонії</li>
        </ul>
        <a href="#footer"> дізнатися більше</a>
      </li>
    </ul>

    <div class="services-page-price">
      <h2 class="services-page-price__title title">
        Зрозумілі та прозорі ціни
      </h2>
      <h3>Виконуємо будь-які види робіт будь-якої складності.</h3>

      <table class="services-page-price__table">
        <tbody>
          <tr>
            <td>Налаштування BIOS (підсистема)</td>
            <td>від 250 грн.</td>
          </tr>
          <tr>
            <td>Встановлення WINDOWS, Vista, 7, 8, 10.11 (без налаштувань)</td>
            <td>від 400 грн.</td>
          </tr>
          <tr>
            <td>Встановлення драйвера</td>
            <td>від 40 грн.</td>
          </tr>
          <tr>
            <td>Встановлення додаткових програм</td>
            <td>від 80 грн.</td>
          </tr>
          <tr>
            <td>Встановлення LINUX, Ubuntu, Mac OS</td>
            <td>від 750 грн.</td>
          </tr>
          <tr>
            <td>Чищення від вірусів</td>
            <td>від 650 грн.</td>
          </tr>
          <tr>
            <td>Відновлення даних</td>
            <td>від 30 грн./ГБ</td>
          </tr>
          <tr>
            <td>Налаштування WI-FI роутера</td>
            <td>від 650 грн.</td>
          </tr>
          <tr>
            <td>Налагодження вашого пк, чищення від сміття</td>
            <td>від 820 грн.</td>
          </tr>
          <tr>
            <td>Відновлення ОС (Бекап)</td>
            <td>від 650 грн.</td>
          </tr>
          <tr>
            <td>Реббоулінг чіпа</td>
            <td>від 1750 грн.</td>
          </tr>
          <tr>
            <td>Ремонт відеочіпа (північного і південного моста)</td>
            <td>від 1800 грн.</td>
          </tr>
          <tr>
            <td>Ремонт контролера</td>
            <td>від 950 грн.</td>
          </tr>
          <tr>
            <td>Ремонт ланцюгів живлення, вторинних джерел</td>
            <td>від 1400 грн.</td>
          </tr>
          <tr>
            <td>
              Збірка системного блоку під замовлення (без вартості запчастин)
            </td>
            <td>від 1499 грн.</td>
          </tr>
          <tr>
            <td>Зняття забутого пароля</td>
            <td>від 760 грн.</td>
          </tr>
          <tr>
            <td>Збереження даних (10Гб)</td>
            <td>від 450 грн.</td>
          </tr>
          <tr>
            <td>Терміновий ремонт (1-3 дні)</td>
            <td>+35%.</td>
          </tr>
          <tr>
            <td>
              Чистка від пилу, заміна термопасти, змащення системи охолодження
            </td>
            <td>від 870 грн.</td>
          </tr>
          <tr>
            <td>Ремонт блоку живлення (без вартості запчастин)</td>
            <td>від 730 грн.</td>
          </tr>
          <tr>
            <td>Відновлення залитої материнської плати</td>
            <td>від 1250 грн.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="services-page-note">
      <p>
        * Безкоштовний виїзд майстра та діагностика виконується при погоджені
        подальшого ремонту або доставки в наш сервіс.
      </p>
      <br />
      <p>
        ** У разі вашої відмови від рекомендованих робіт, або доставки в наш
        сервіс замовник зобов’язаний оплатити виїзд майстра 350 грн та
        діагностику 450 грн.
      </p>
    </div>
  </div>
</div>
