<div class="services">
  <div class="services-container container">
    <h2 class="services-title title">Наші послуги</h2>
    <div class="services-wrapper grid">
      <ul class="services-list list-reset grid">
        <li
          id="instal"
          class="services-list__item active flex"
          data-target=".instal"
        >
          <svg>
            <use xlink:href="img/sprite.svg#instal"></use>
          </svg>
          <p class="services-list__descr text">
            Перевстановлення операційної системи Widows, Linux, Mac OS
          </p>
          <span class="services-list__price color-text">від 400 грн</span>
        </li>
        <li
          id="consultation"
          class="services-list__item flex"
          data-target=".consultation"
        >
          <svg>
            <use xlink:href="img/sprite.svg#consultation"></use>
          </svg>
          <p class="services-list__descr text">
            Консультація та навчання комп'ютерної грамотності
          </p>
          <span class="services-list__price color-text">від 400 грн</span>
        </li>
        <li id="search" class="services-list__item flex" data-target=".search">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <p class="services-list__descr text">
            Відновлення втраченої інформації
          </p>
          <span class="services-list__price color-text">від 400 грн</span>
        </li>
        <li id="virus" class="services-list__item flex" data-target=".virus">
          <svg>
            <use xlink:href="img/sprite.svg#virus"></use>
          </svg>
          <p class="services-list__descr text">
            Лікування вірусів, розшифрування та видалення банерів
          </p>
          <span class="services-list__price color-text">від 300 грн</span>
        </li>
        <li id="setup" class="services-list__item flex" data-target=".setup">
          <svg>
            <use xlink:href="img/sprite.svg#setup"></use>
          </svg>
          <p class="services-list__descr text">
            Встановлення драйверів, антивірусів та іншого ПО
          </p>
          <span class="services-list__price color-text">від 100 грн</span>
        </li>
        <li
          id="network"
          class="services-list__item flex"
          data-target=".network"
        >
          <svg>
            <use xlink:href="img/sprite.svg#network"></use>
          </svg>
          <p class="services-list__descr text">
            Комплексне обслуговування комп'ютерів для організацій та юридичних
            осіб
          </p>
          <span class="services-list__price color-text">від 3000 грн</span>
        </li>
      </ul>
      <div class="services-info flex">
        <article class="services-info-wrapper instal active">
          <h3 class="services-info__title title">
            Перевстановлення операційної системи Widows, Linux, Mac OS
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Дуже повільно працює система, часто зависає та іноді видає синій
            екран, а потім довго перезавантажується.
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Після того, як наш майстер приїде до Вас, насамперед він повинен
            зробити діагностику обладнання та з'ясувати причину цієї проблеми.
            Після діагностики він проінформує Вас про причини виникнення даних
            несправностей, повідомить варіанти вирішення проблем та їх вартість,
            і тільки після цього приступить до їх усунення.
          </p>
          <p class="services-info__descr text">
            Якщо буде потрібна переустановка операційної системи, то в першу
            чергу потрібно зробити резервну копію всіх важливих даних. Після
            переконатися, що Ваш жорсткий диск знаходиться у справному стані. І
            тільки після цього провести його очищення та перевстановлення
            операційної системи.
          </p>
        </article>
        <article class="services-info-wrapper consultation">
          <h3 class="services-info__title title">
            Консультація та навчання комп'ютерної грамотності
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Чи надає ваш сервісний центр послуги з навчання користувачів у
            використанні комп'ютерів та програмного забезпечення? Які конкретні
            послуги і консультації ви можливо надаєте для поліпшення
            комп’ютерних навичок та збільшення грамотності?
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Дякуємо за ваш запит! Так, наш сервісний центр надає послуги
            консультації та навчання комп’ютерної грамотності. Ми пропонуємо
            індивідуальні та групові заняття, спрямовані на вдосконалення
            навичок у користуванні комп'ютерами, використанні програмного
            забезпечення та забезпечення безпеки в Інтернеті.
          </p>
          <p class="services-info__descr text">
            Наші консультанти готові допомогти вам з основами роботи на
            комп'ютері, встановленням програм, роботою з електронною поштою та
            іншими аспектами комп’ютерної грамотності. Будь ласка, зв'яжіться з
            нами для уточнення деталей і назначення часу зустрічі або заняття.
          </p>
        </article>
        <article class="services-info-wrapper search">
          <h3 class="services-info__title title">
            Відновлення втраченої інформації
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Дитина випадково видалила з робочого столу папку з дуже важливими
            для мене документами та сімейними фотографіями, ви можете допомогти?
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Дякуємо за звернення до нашого сервісного центру. Ми розуміємо,
            наскільки важливо для вас відновити видалені дані, особливо коли це
            стосується особистих документів та сімейних фотографій.
          </p>
          <p class="services-info__descr text">
            Важливо пам'ятати, що чим швидше ви почнете процес відновлення, тим
            більше ймовірність успіху. Рекомендуємо також утриматися від
            використання комп'ютера для збереження нових файлів, щоб уникнути
            перезапису втрачених даних.
          </p>

          <p class="services-info__descr text">
            Після того, як наш майстер приїде до Вас, насамперед він повинен
            зробити діагностику обладнання. Після діагностики він проінформує
            Вас про варіанти вирішення данної проблеми та її вартість, і тільки
            після цього приступить до роботи.
          </p>
        </article>
        <article class="services-info-wrapper virus">
          <h3 class="services-info__title title">
            Лікування вірусів, розшифрування та видалення банерів
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Постійно сам по собі відкривається браузер, довільно сам переходить
            різними сайтами. Постійно з'являється різноманітна реклама. Також не
            можу перейти на потрібні мені сервіси.
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Досить типова ситуація, коли не варто зволікати і краще відразу
            звернутися до хороших спеціалістів. Так як по міміо звичайних
            незручностей з сервісами, що не працюють, є ДУЖЕ велика ймовірність
            того що може бути витік Ваших даних. Зловмисники часто за допомогою
            різного роду вірусного програмного забезпечення отримують доступи до
            Ваших банківських карток, облікових даних різних. ресурсів таких як
            пошта, соцмереж та інше.
          </p>
          <p class="services-info__descr text">
            Після того, як наш майстер приїде до Вас, насамперед він повинен
            зробити діагностику операційної системи та з'ясувати причину цієї
            проблеми. Після діагностики він проінформує Вас про причини
            виникнення даних несправностей, повідомить варіанти вирішення
            проблем та їх вартість, і тільки після цього приступить до їх
            усунення.
          </p>
        </article>
        <article class="services-info-wrapper setup">
          <h3 class="services-info__title title">
            Встановлення драйверів, антивірусів та іншого ПО
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Після заміни материнської плати на моєму комп'ютері, у мене не
            працює звук і немає підключення до інтернету.
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Зазвичай у такій ситуації, якщо було здійснено заміну материнської
            плати, але замовник вирішив залишити стару операційну систему,
            система потребує встановлення відповідних драйверів для неї.
            Оскільки встановлені раніше драйвера для неї можуть не відповідати
            новому устаткуванню.
          </p>
          <p class="services-info__descr text">
            Після того, як наш майстер приїде до Вас, насамперед він повинен
            зробити діагностику обладнання та з'ясувати причину цієї проблеми.
            Після діагностики він проінформує Вас про причини виникнення даних
            несправностей, повідомить варіанти вирішення проблем та їх вартість,
            і тільки після цього приступить до їх усунення.
          </p>
        </article>
        <article class="services-info-wrapper network">
          <h3 class="services-info__title title">
            Комплексне обслуговування комп'ютерів для організацій та юридичних
            осіб
          </h3>
          <p class="services-info__problem text">Проблема:</p>
          <p class="services-info__descr text">
            Наша компанія переїхала до нового офісу. Нам потрібно по-новому
            налаштувати мережеве обладнання, підключити і настояти всі робочі
            місця і настояти хмарне сховище іншої компанії. Також ми були б раді
            на довгострокову співпрацю з обслуговування нашої комп'ютерної
            техніки та переферії.
          </p>
          <p class="services-info__problem text">Вирішення:</p>
          <p class="services-info__descr text">
            Так, Наша компанія надає комплексні послуги з ремонту, налаштування
            та обслуговування комп'ютерної техніки та периферії як для великих
            так і для малих організацій на постійной основі.
          </p>
        </article>
        <a href="#footer" class="services-btn btn">Усунути несправність</a>
      </div>
    </div>
  </div>
</div>
