<div class="services-box">
  <div class="services-box-container container">
    <h1>Наш сервіс пропонує:</h1>
    <ul class="services-box-list list-reset">
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Перевстановлення операційної системи Widows, Linux, Mac OS
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/windows.webp"
          />
        </div>
      </li>
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Консультація та навчання комп’ютерної грамотності
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/education.webp"
          />
        </div>
      </li>
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Відновлення втраченої інформації
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/data.webp"
          />
        </div>
      </li>
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Лікування вірусів, розшифрування та видалення банерів
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/education.webp"
          />
        </div>
      </li>
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Встановлення драйверів, антивірусів та іншого ПО
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/education.webp"
          />
        </div>
      </li>
      <li class="services-box-item">
        <h2 class="services-box-item__title">
          Комплексне обслуговування комп’ютерів для організацій та юридичних
          осіб
        </h2>
        <div class="services-box-item__wrapper flex">
          <p class="services-box-item__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro
            aperiam suscipit quasi provident assumenda quidem odit debitis,
            numquam dolores autem sed. Ex suscipit velit dignissimos explicabo
            eligendi perferendis ipsam optio excepturi reiciendis maxime!
            Similique ducimus facilis ipsa earum fugiat cupiditate repellendus
            iure natus minima dignissimos, harum, voluptatibus consequatur
            labore nesciunt, excepturi debitis eum incidunt? Saepe quod,
            delectus consectetur dicta magni ad itaque eum assumenda similique
            ab maiores fuga voluptatem maxime consequuntur totam debitis.
            Explicabo, sequi vero id repellendus odit voluptates soluta quasi
            nostrum deleniti reiciendis ea placeat eius quibusdam pariatur iure!
            Laborum et in delectus nihil quaerat aperiam deleniti alias odio
            dolorem vel mollitia harum dolore, iusto eos reiciendis perferendis
            hic ipsum? Enim numquam laudantium, expedita quidem magnam iusto.
          </p>
          <img
            class="services-box-item__img"
            src="../img/services-box/education.webp"
          />
        </div>
      </li>
    </ul>

    <div class="services-box-price">
      <h2 class="services-box-price__title title">
        вартість наших послуг та ремонту техніки
      </h2>

      <table class="services-box-table">
        <thead>
          <tr>
            <th>вид ремонту</th>
            <th>Вартість</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
