<div class="services-page">
  <div class="services-page-container container">
    <h1>Сервіс CitiCom пропонує</h1>
    <ul class="services-page-list list-reset grid">
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#instal"></use>
        </svg>
        <h2 class="services-page-item__title title">
          Перевстановлення операційної системи Widows, Linux, Mac OS
        </h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Встановлення</li>
          <li class="services-page-item__descr">Перевстановлення</li>
          <li class="services-page-item__descr">Відновленя роботи</li>
          <li class="services-page-item__descr">Налаштування роботи</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
        <h2 class="services-page-item__title title">Комп’ютери</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Збірка компʼютерів</li>
          <li class="services-page-item__descr">Модернізація компʼютерів</li>
          <li class="services-page-item__descr">Діагностика компʼютерів</li>
          <li class="services-page-item__descr">Відновлення данних</li>
          <li class="services-page-item__descr">Встановлення програм</li>
          <li class="services-page-item__descr">Чистка від пилу</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#setup"></use>
        </svg>
        <h2 class="services-page-item__title title">Ноутбуки</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Чистка ноутбуків</li>
          <li class="services-page-item__descr">Ремонт після залиття</li>
          <li class="services-page-item__descr">Заміна матриці ноутбука</li>
          <li class="services-page-item__descr">Диагностика ноутбука</li>
          <li class="services-page-item__descr">Заміна розʼємів ноутбука</li>
          <li class="services-page-item__descr">Заміна відіочипу чи моста</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#network"></use>
        </svg>
        <h2 class="services-page-item__title title">Інтернет</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Налаштування роутера</li>
          <li class="services-page-item__descr">Налаштування Wi-Fi</li>
          <li class="services-page-item__descr">Точка Wi-Fi "під ключ"</li>
          <li class="services-page-item__descr">
            Монтаж і наалаштівання мережі
          </li>
          <li class="services-page-item__descr">
            Налаштування поштових програм
          </li>
          <li class="services-page-item__descr">Підключення до інтернету</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#virus"></use>
        </svg>
        <h2 class="services-page-item__title title">Віруси</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">Видалення вірусів</li>
          <li class="services-page-item__descr">Видалення банерів</li>
          <li class="services-page-item__descr">Видалення блокувальників</li>
          <li class="services-page-item__descr">
            Встановлення будь якого антивірусу
          </li>
          <li class="services-page-item__descr">Налаштування FireWall</li>
          <li class="services-page-item__descr">Безпечний доступ в Інтернет</li>
          <li class="services-page-item__descr">Батьківський контроль</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
      <li class="services-page-item">
        <svg>
          <use xlink:href="img/sprite.svg#cloud"></use>
        </svg>
        <h2 class="services-page-item__title title">Аутсорсинг</h2>
        <ul class="services-page-item__wrapper list-reset">
          <li class="services-page-item__descr">
            Абонентське обслуговування компаній
          </li>
          <li class="services-page-item__descr">
            Встановлення ПЗ відповідно до вимог компанії
          </li>
          <li class="services-page-item__descr">Консультація користувачів</li>
          <li class="services-page-item__descr">
            Налаштування хмари, архивайія
          </li>
          <li class="services-page-item__descr">Монтаж систем відеонагляду</li>
          <li class="services-page-item__descr">Контроль працівників</li>
          <li class="services-page-item__descr">Дистанційна підтримка</li>
          <li class="services-page-item__descr">Налаштування IP телефонії</li>
        </ul>
        <a href=""> дізнатися більше</a>
      </li>
    </ul>

    <!-- <div class="services-page-price">
      <h2 class="services-page-price__title title">
        вартість наших послуг та ремонту техніки
      </h2>

      <table class="services-page-table">
        <thead>
          <tr>
            <th>вид ремонту</th>
            <th>Вартість</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</div>
